In [2]:
import numpy as np
import pandas as pd

In [50]:
df = pd.read_csv("players.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_32592\3458673603.py:1: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("players.csv")

In [51]:
df.isnull().sum()

player_id             0
version               0
name                  0
full_name             0
description           0
                  ...
gk_handling       18205
gk_kicking        18205
gk_positioning    18205
gk_reflexes       18205
play_styles       18205
Length: 76, dtype: int64

In [52]:
df.head()

,player_id,version,name,full_name,description,image,height_cm,weight_kg,dob,positions,...,composure,defensive_awareness,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,play_styles
0,231866,2025-06-03,Rodri -,Rodrigo Hernández Cascante,Rodri (born 22 June 1996) is a Spanish footbal...,https://cdn.sofifa.net/players/231/866/25_120.png,190,82,1996-06-22,"CDM,CM",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,209331,2025-06-03,Mohamed Salah Hamed Ghaly -,Mohamed Salah Hamed Ghalyمحمد صلاح,"Mohamed Salah (Mohamed Salah Hamed Ghaly, born...",https://cdn.sofifa.net/players/209/331/25_120.png,175,72,1992-06-15,"RM,RW",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,252371,2025-06-03,Jude Victor William Bellingham -,Jude Victor William Bellingham,Jude Bellingham (Jude Victor William Bellingha...,https://cdn.sofifa.net/players/252/371/25_120.png,186,75,2003-06-29,"CAM,CM",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,239085,2025-06-03,Erling Braut Håland -,Erling Braut Håland,"Erling Haaland (Erling Braut Håland, born 21 J...",https://cdn.sofifa.net/players/239/085/25_120.png,195,94,2000-07-21,ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,238794,2025-06-03,Vini Jr. -,Vinicius José Paixão de Oliveira Junior,Vini Jr. (Vinicius José Paixão de Oliveira Jun...,https://cdn.sofifa.net/players/238/794/25_120.png,176,73,2000-07-12,"LW,ST",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df.columns

Index(['player_id', 'version', 'name', 'full_name', 'description', 'image',
       'height_cm', 'weight_kg', 'dob', 'positions', 'overall_rating',
       'potential', 'value', 'wage', 'preferred_foot', 'weak_foot',
       'skill_moves', 'international_reputation', 'work_rate', 'body_type',
       'real_face', 'release_clause', 'specialities', 'club_id', 'club_name',
       'club_league_id', 'club_league_name', 'club_logo', 'club_rating',
       'club_position', 'club_kit_number', 'club_joined',
       'club_contract_valid_until', 'country_id', 'country_name',
       'country_league_id', 'country_league_name', 'country_flag',
       'country_rating', 'country_position', 'country_kit_number', 'crossing',
       'finishing', 'heading_accuracy', 'short_passing', 'volleys',
       'dribbling', 'curve', 'fk_accuracy', 'long_passing', 'ball_control',
       'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance',
       'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'aggression', 'interceptions', 'positioning', 'vision', 'penalties',
       'composure', 'defensive_awareness', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes', 'play_styles'],
      dtype='object')

In [54]:
# Keep only outfield players
df = df[~df['positions'].str.contains('GK')]

In [55]:
df

,player_id,version,name,full_name,description,image,height_cm,weight_kg,dob,positions,...,composure,defensive_awareness,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,play_styles
0,231866,2025-06-03,Rodri -,Rodrigo Hernández Cascante,Rodri (born 22 June 1996) is a Spanish footbal...,https://cdn.sofifa.net/players/231/866/25_120.png,190,82,1996-06-22,"CDM,CM",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,209331,2025-06-03,Mohamed Salah Hamed Ghaly -,Mohamed Salah Hamed Ghalyمحمد صلاح,"Mohamed Salah (Mohamed Salah Hamed Ghaly, born...",https://cdn.sofifa.net/players/209/331/25_120.png,175,72,1992-06-15,"RM,RW",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,252371,2025-06-03,Jude Victor William Bellingham -,Jude Victor William Bellingham,Jude Bellingham (Jude Victor William Bellingha...,https://cdn.sofifa.net/players/252/371/25_120.png,186,75,2003-06-29,"CAM,CM",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,239085,2025-06-03,Erling Braut Håland -,Erling Braut Håland,"Erling Haaland (Erling Braut Håland, born 21 J...",https://cdn.sofifa.net/players/239/085/25_120.png,195,94,2000-07-21,ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,238794,2025-06-03,Vini Jr. -,Vinicius José Paixão de Oliveira Junior,Vini Jr. (Vinicius José Paixão de Oliveira Jun...,https://cdn.sofifa.net/players/238/794/25_120.png,176,73,2000-07-12,"LW,ST",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,73096,2025-06-03,Haine Anthony Eames -,Haine Anthony Eames,"Haine Eames (Haine Anthony Eames, born 27 Febr...",https://cdn.sofifa.net/players/073/096/25_120.png,178,75,2008-02-27,CM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18201,77197,2025-06-03,Kim Jun Ha -,Jun-ha Kim김준하,"Kim Jun Ha (Jun-ha Kim, born 2 December 2005) ...",https://cdn.sofifa.net/players/077/197/25_120.png,175,67,2005-12-02,"RW,RM",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18202,74126,2025-06-03,Harry Sidwell -,Harry Sidwell,Harry Sidwell (born 10 March 2006) is a Britis...,https://cdn.sofifa.net/players/074/126/25_120.png,178,75,2006-03-10,CM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18203,73103,2025-06-03,Finn McKenlay -,Finn McKenlay,Finn McKenlay (born 4 September 2005) is a New...,https://cdn.sofifa.net/players/073/103/25_120.png,188,76,2005-09-04,"CDM,CM",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18204,73105,2025-06-03,Oliver Middleton -,Oliver Middleton,Oliver Middleton (born 19 September 2005) is a...,https://cdn.sofifa.net/players/073/105/25_120.png,177,68,2005-09-19,"CM,CDM,RM",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df["value"]

0        €115.5M
1          €104M
2        €174.5M
3          €157M
4        €171.5M
          ...
18200      €325K
18201      €200K
18202      €180K
18203      €170K
18204      €180K
Name: value, Length: 16220, dtype: object

In [57]:
def modify_value(row):
    row["value"].replace("€", "")

    if row["value"].endswith("M"):
        return float(row["value"][:-1])          # already in millions
    elif row["value"].endswith("K"):
        return float(row["value"][:-1]) / 1000   # convert thousands → millions
    else:
        return float(row["value"]) / 1_000_000

In [58]:
df["value"] = df.apply(modify_value,  axis=1)

ValueError: could not convert string to float: '€115.5'

In [59]:
df["value"]

0        €115.5M
1          €104M
2        €174.5M
3          €157M
4        €171.5M
          ...
18200      €325K
18201      €200K
18202      €180K
18203      €170K
18204      €180K
Name: value, Length: 16220, dtype: object

In [60]:
df.columns

Index(['player_id', 'version', 'name', 'full_name', 'description', 'image',
       'height_cm', 'weight_kg', 'dob', 'positions', 'overall_rating',
       'potential', 'value', 'wage', 'preferred_foot', 'weak_foot',
       'skill_moves', 'international_reputation', 'work_rate', 'body_type',
       'real_face', 'release_clause', 'specialities', 'club_id', 'club_name',
       'club_league_id', 'club_league_name', 'club_logo', 'club_rating',
       'club_position', 'club_kit_number', 'club_joined',
       'club_contract_valid_until', 'country_id', 'country_name',
       'country_league_id', 'country_league_name', 'country_flag',
       'country_rating', 'country_position', 'country_kit_number', 'crossing',
       'finishing', 'heading_accuracy', 'short_passing', 'volleys',
       'dribbling', 'curve', 'fk_accuracy', 'long_passing', 'ball_control',
       'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance',
       'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'aggression', 'interceptions', 'positioning', 'vision', 'penalties',
       'composure', 'defensive_awareness', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes', 'play_styles'],
      dtype='object')

In [62]:
new_df  = df[['name', 'dob', 'positions',
    'height_cm', 'weight_kg', 'preferred_foot',
    'weak_foot', 'skill_moves', 'international_reputation', 'body_type',

    'overall_rating', 'potential',

    'value',

    'wage', 'release_clause',
    'club_contract_valid_until', 'club_joined',

    'club_name', 'club_league_name', 'club_rating', 'club_position',

    
]]

In [14]:
new_df.isnull().sum()

name                            0
dob                             0
positions                       0
height_cm                       0
weight_kg                       0
preferred_foot                  0
weak_foot                       0
skill_moves                     0
international_reputation        0
body_type                       0
overall_rating                  0
potential                       0
wage                            0
release_clause               1486
club_contract_valid_until       4
club_joined                     4
club_name                      73
club_league_name               73
club_rating                    73
club_position                  73
dtype: int64

In [63]:
clean_df = new_df.dropna()

In [64]:
clean_df = clean_df.drop(columns=["body_type", "club_name"])

In [65]:
clean_df

,name,dob,positions,height_cm,weight_kg,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,wage,release_clause,club_contract_valid_until,club_joined,club_league_name,club_rating,club_position
0,Rodri -,1996-06-22,"CDM,CM",190,82,Right,4,3,5,91,91,€115.5M,€440K,€213.7M,2027,2019-07-04,Premier League,85.0,RES
1,Mohamed Salah Hamed Ghaly -,1992-06-15,"RM,RW",175,72,Left,3,4,5,91,91,€104M,€350K,€192.4M,2027,2017-07-01,Premier League,84.0,RM
2,Jude Victor William Bellingham -,2003-06-29,"CAM,CM",186,75,Right,4,4,5,90,94,€174.5M,€280K,€370.8M,2029,2023-07-01,La Liga,85.0,RCM
3,Erling Braut Håland -,2000-07-21,ST,195,94,Left,3,3,5,90,92,€157M,€270K,€302.2M,2034,2022-07-01,Premier League,85.0,SUB
4,Vini Jr. -,2000-07-12,"LW,ST",176,73,Right,4,5,5,90,94,€171.5M,€340K,€364.4M,2027,2018-07-12,La Liga,85.0,LW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Haine Anthony Eames -,2008-02-27,CM,178,75,Right,3,2,1,52,78,€325K,€1K,€731K,2027,2024-06-07,A-League Men,62.0,SUB
18201,Kim Jun Ha -,2005-12-02,"RW,RM",175,67,Right,3,2,1,52,71,€200K,€4K,€375K,2027,2025-01-02,K League 1,66.0,SUB
18202,Harry Sidwell -,2006-03-10,CM,178,75,Right,3,2,1,52,65,€180K,€6K,€428K,2026,2024-07-01,League Two,63.0,RES
18203,Finn McKenlay -,2005-09-04,"CDM,CM",188,76,Right,3,2,1,52,67,€170K,€3K,€319K,2026,2024-07-01,A-League Men,66.0,SUB
18204,Oliver Middleton -,2005-09-19,"CM,CDM,RM",177,68,Right,4,2,1,52,66,€180K,€3K,€338K,2026,2024-07-01,A-League Men,66.0,RES

In [66]:
from datetime import date, datetime
date = date.today()

print(date)

2025-12-09

In [67]:
clean_df.columns

Index(['name', 'dob', 'positions', 'height_cm', 'weight_kg', 'preferred_foot',
       'weak_foot', 'skill_moves', 'international_reputation',
       'overall_rating', 'potential', 'value', 'wage', 'release_clause',
       'club_contract_valid_until', 'club_joined', 'club_league_name',
       'club_rating', 'club_position'],
      dtype='object')

In [68]:
from datetime import datetime, date

def calculate_age(row):
    date_string = row["dob"]
    dob = datetime.strptime(date_string, "%Y-%m-%d").date()

    today = date.today()

    # Calculate age in years
    age = today.year - dob.year

    # Adjust if birthday hasn't happened yet this year
    if (today.month, today.day) < (dob.month, dob.day):
        age -= 1

    return age

In [69]:
clean_df["age"] = clean_df.apply(calculate_age, axis=1)

In [70]:
clean_df

,name,dob,positions,height_cm,weight_kg,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,wage,release_clause,club_contract_valid_until,club_joined,club_league_name,club_rating,club_position,age
0,Rodri -,1996-06-22,"CDM,CM",190,82,Right,4,3,5,91,91,€115.5M,€440K,€213.7M,2027,2019-07-04,Premier League,85.0,RES,29
1,Mohamed Salah Hamed Ghaly -,1992-06-15,"RM,RW",175,72,Left,3,4,5,91,91,€104M,€350K,€192.4M,2027,2017-07-01,Premier League,84.0,RM,33
2,Jude Victor William Bellingham -,2003-06-29,"CAM,CM",186,75,Right,4,4,5,90,94,€174.5M,€280K,€370.8M,2029,2023-07-01,La Liga,85.0,RCM,22
3,Erling Braut Håland -,2000-07-21,ST,195,94,Left,3,3,5,90,92,€157M,€270K,€302.2M,2034,2022-07-01,Premier League,85.0,SUB,25
4,Vini Jr. -,2000-07-12,"LW,ST",176,73,Right,4,5,5,90,94,€171.5M,€340K,€364.4M,2027,2018-07-12,La Liga,85.0,LW,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Haine Anthony Eames -,2008-02-27,CM,178,75,Right,3,2,1,52,78,€325K,€1K,€731K,2027,2024-06-07,A-League Men,62.0,SUB,17
18201,Kim Jun Ha -,2005-12-02,"RW,RM",175,67,Right,3,2,1,52,71,€200K,€4K,€375K,2027,2025-01-02,K League 1,66.0,SUB,20
18202,Harry Sidwell -,2006-03-10,CM,178,75,Right,3,2,1,52,65,€180K,€6K,€428K,2026,2024-07-01,League Two,63.0,RES,19
18203,Finn McKenlay -,2005-09-04,"CDM,CM",188,76,Right,3,2,1,52,67,€170K,€3K,€319K,2026,2024-07-01,A-League Men,66.0,SUB,20
18204,Oliver Middleton -,2005-09-19,"CM,CDM,RM",177,68,Right,4,2,1,52,66,€180K,€3K,€338K,2026,2024-07-01,A-League Men,66.0,RES,20

In [71]:
def age_group(row):
    if row["age"]<23:
        return "young"
    if row["age"]>=23 and row["age"]<30:
        return "prime"
    if row["age"]>=30 and row["age"]<35:
        return "experienced"
    if row["age"]>=35:
        return "veteran"

In [72]:
clean_df["age_group"] = clean_df.apply(age_group, axis=1)

In [73]:
clean_df

,name,dob,positions,height_cm,weight_kg,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,...,value,wage,release_clause,club_contract_valid_until,club_joined,club_league_name,club_rating,club_position,age,age_group
0,Rodri -,1996-06-22,"CDM,CM",190,82,Right,4,3,5,91,...,€115.5M,€440K,€213.7M,2027,2019-07-04,Premier League,85.0,RES,29,prime
1,Mohamed Salah Hamed Ghaly -,1992-06-15,"RM,RW",175,72,Left,3,4,5,91,...,€104M,€350K,€192.4M,2027,2017-07-01,Premier League,84.0,RM,33,experienced
2,Jude Victor William Bellingham -,2003-06-29,"CAM,CM",186,75,Right,4,4,5,90,...,€174.5M,€280K,€370.8M,2029,2023-07-01,La Liga,85.0,RCM,22,young
3,Erling Braut Håland -,2000-07-21,ST,195,94,Left,3,3,5,90,...,€157M,€270K,€302.2M,2034,2022-07-01,Premier League,85.0,SUB,25,prime
4,Vini Jr. -,2000-07-12,"LW,ST",176,73,Right,4,5,5,90,...,€171.5M,€340K,€364.4M,2027,2018-07-12,La Liga,85.0,LW,25,prime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Haine Anthony Eames -,2008-02-27,CM,178,75,Right,3,2,1,52,...,€325K,€1K,€731K,2027,2024-06-07,A-League Men,62.0,SUB,17,young
18201,Kim Jun Ha -,2005-12-02,"RW,RM",175,67,Right,3,2,1,52,...,€200K,€4K,€375K,2027,2025-01-02,K League 1,66.0,SUB,20,young
18202,Harry Sidwell -,2006-03-10,CM,178,75,Right,3,2,1,52,...,€180K,€6K,€428K,2026,2024-07-01,League Two,63.0,RES,19,young
18203,Finn McKenlay -,2005-09-04,"CDM,CM",188,76,Right,3,2,1,52,...,€170K,€3K,€319K,2026,2024-07-01,A-League Men,66.0,SUB,20,young
18204,Oliver Middleton -,2005-09-19,"CM,CDM,RM",177,68,Right,4,2,1,52,...,€180K,€3K,€338K,2026,2024-07-01,A-League Men,66.0,RES,20,young

In [74]:
clean_df = clean_df.drop(columns=["dob", "age"])

In [75]:
clean_df.columns

Index(['name', 'positions', 'height_cm', 'weight_kg', 'preferred_foot',
       'weak_foot', 'skill_moves', 'international_reputation',
       'overall_rating', 'potential', 'value', 'wage', 'release_clause',
       'club_contract_valid_until', 'club_joined', 'club_league_name',
       'club_rating', 'club_position', 'age_group'],
      dtype='object')

In [76]:
clean_df

,name,positions,height_cm,weight_kg,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,wage,release_clause,club_contract_valid_until,club_joined,club_league_name,club_rating,club_position,age_group
0,Rodri -,"CDM,CM",190,82,Right,4,3,5,91,91,€115.5M,€440K,€213.7M,2027,2019-07-04,Premier League,85.0,RES,prime
1,Mohamed Salah Hamed Ghaly -,"RM,RW",175,72,Left,3,4,5,91,91,€104M,€350K,€192.4M,2027,2017-07-01,Premier League,84.0,RM,experienced
2,Jude Victor William Bellingham -,"CAM,CM",186,75,Right,4,4,5,90,94,€174.5M,€280K,€370.8M,2029,2023-07-01,La Liga,85.0,RCM,young
3,Erling Braut Håland -,ST,195,94,Left,3,3,5,90,92,€157M,€270K,€302.2M,2034,2022-07-01,Premier League,85.0,SUB,prime
4,Vini Jr. -,"LW,ST",176,73,Right,4,5,5,90,94,€171.5M,€340K,€364.4M,2027,2018-07-12,La Liga,85.0,LW,prime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Haine Anthony Eames -,CM,178,75,Right,3,2,1,52,78,€325K,€1K,€731K,2027,2024-06-07,A-League Men,62.0,SUB,young
18201,Kim Jun Ha -,"RW,RM",175,67,Right,3,2,1,52,71,€200K,€4K,€375K,2027,2025-01-02,K League 1,66.0,SUB,young
18202,Harry Sidwell -,CM,178,75,Right,3,2,1,52,65,€180K,€6K,€428K,2026,2024-07-01,League Two,63.0,RES,young
18203,Finn McKenlay -,"CDM,CM",188,76,Right,3,2,1,52,67,€170K,€3K,€319K,2026,2024-07-01,A-League Men,66.0,SUB,young
18204,Oliver Middleton -,"CM,CDM,RM",177,68,Right,4,2,1,52,66,€180K,€3K,€338K,2026,2024-07-01,A-League Men,66.0,RES,young

In [81]:
def modify_value(row):
    row["value"] = row["value"].replace("€", "")

    if row["value"].endswith("M"):
        return float(row["value"][:-1])          # already in millions
    elif row["value"].endswith("K"):
        return float(row["value"][:-1]) / 1000   # convert thousands → millions
    else:
        return float(row["value"]) / 1_000_000

In [82]:
clean_df["value"] = clean_df.apply(modify_value, axis=1)

In [84]:
clean_df.columns

Index(['name', 'positions', 'height_cm', 'weight_kg', 'preferred_foot',
       'weak_foot', 'skill_moves', 'international_reputation',
       'overall_rating', 'potential', 'value', 'wage', 'release_clause',
       'club_contract_valid_until', 'club_joined', 'club_league_name',
       'club_rating', 'club_position', 'age_group'],
      dtype='object')

In [86]:
clean_df["height_m"] = clean_df["height_cm"]/100
clean_df["bmi"] = (clean_df["weight_kg"]/(clean_df["height_m"]**2))

In [87]:
clean_df

,name,positions,height_cm,weight_kg,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,...,wage,release_clause,club_contract_valid_until,club_joined,club_league_name,club_rating,club_position,age_group,height_m,bmi
0,Rodri -,"CDM,CM",190,82,Right,4,3,5,91,91,...,€440K,€213.7M,2027,2019-07-04,Premier League,85.0,RES,prime,1.90,22.714681
1,Mohamed Salah Hamed Ghaly -,"RM,RW",175,72,Left,3,4,5,91,91,...,€350K,€192.4M,2027,2017-07-01,Premier League,84.0,RM,experienced,1.75,23.510204
2,Jude Victor William Bellingham -,"CAM,CM",186,75,Right,4,4,5,90,94,...,€280K,€370.8M,2029,2023-07-01,La Liga,85.0,RCM,young,1.86,21.678807
3,Erling Braut Håland -,ST,195,94,Left,3,3,5,90,92,...,€270K,€302.2M,2034,2022-07-01,Premier League,85.0,SUB,prime,1.95,24.720579
4,Vini Jr. -,"LW,ST",176,73,Right,4,5,5,90,94,...,€340K,€364.4M,2027,2018-07-12,La Liga,85.0,LW,prime,1.76,23.566632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Haine Anthony Eames -,CM,178,75,Right,3,2,1,52,78,...,€1K,€731K,2027,2024-06-07,A-League Men,62.0,SUB,young,1.78,23.671254
18201,Kim Jun Ha -,"RW,RM",175,67,Right,3,2,1,52,71,...,€4K,€375K,2027,2025-01-02,K League 1,66.0,SUB,young,1.75,21.877551
18202,Harry Sidwell -,CM,178,75,Right,3,2,1,52,65,...,€6K,€428K,2026,2024-07-01,League Two,63.0,RES,young,1.78,23.671254
18203,Finn McKenlay -,"CDM,CM",188,76,Right,3,2,1,52,67,...,€3K,€319K,2026,2024-07-01,A-League Men,66.0,SUB,young,1.88,21.502943
18204,Oliver Middleton -,"CM,CDM,RM",177,68,Right,4,2,1,52,66,...,€3K,€338K,2026,2024-07-01,A-League Men,66.0,RES,young,1.77,21.705129

In [89]:
clean_df["club_league_name"].unique()

array(['Premier League', 'La Liga', 'Bundesliga', 'Serie A', 'Ligue 1',
       'Major League Soccer', 'Primeira Liga', 'Pro League', 'Süper Lig',
       'Série A', 'Eredivisie', 'Serie B', 'Primera División',
       'Super League', 'Liga Profesional de Fútbol', 'Premiership',
       'Hrvatska nogometna liga', 'První liga', 'Categoría Primera A',
       'Championship', 'Eliteserien', 'Primera Division', 'La Liga 2',
       '2. Bundesliga', 'Nemzeti Bajnokság I', 'K League 1', 'Ligue 2',
       'Superliga', 'A-League Men', 'Liga 1', '1. Division',
       'Allsvenskan', 'Liga I', 'Ekstraklasa', 'División Profesional',
       'Veikkausliiga', 'Premyer Liqa', 'League One',
       'División de Fútbol Profesional', '3. Liga', 'League Two',
       'Premier Division'], dtype=object)

In [90]:
league = {
    "Premier League": 5,
    "La Liga": 5,
    "Bundesliga": 5,
    "Serie A": 5,
    "Ligue 1": 5,

    "Primeira Liga": 4,
    "Pro League": 4,   # Belgium
    "Süper Lig": 4,
    "Eredivisie": 4,
    "Super League": 4,  # Swiss Super League
    "Premiership": 4,   # Scottish Premiership
    "Championship": 4,  # England 2nd tier
    "La Liga 2": 4,
    "2. Bundesliga": 4,
    "Major League Soccer": 4,

    "Serie B": 3,
    "Primera División": 3,  # Chile / Uruguay context
    "Liga Profesional de Fútbol": 3,  # Argentina
    "První liga": 3,  # Czech 1st league
    "Hrvatska nogometna liga": 3,  # Croatia
    "Eliteserien": 3,  # Norway
    "Nemzeti Bajnokság I": 3,  # Hungary
    "K League 1": 3,
    "Ligue 2": 3,
    "Superliga": 3,  # Danish Superliga
    "A-League Men": 3,
    "Liga 1": 3,  # Romania
    "Ekstraklasa": 3,  # Poland
    "1. Division": 3,  # Denmark second tier
    "División Profesional": 3,  # Paraguay / Bolivia
    "División de Fútbol Profesional": 3,  # Bolivia
    "Série A": 3,  # Brazil Série A

    "Allsvenskan": 2,  # Sweden
    "Liga I": 2,
    "Veikkausliiga": 2,  # Finland
    "Premyer Liqa": 2,  # Azerbaijan
    "League One": 2,
    "3. Liga": 2,
    "Liga 1": 2,  # If this refers to Indonesia; adjust if needed

    "League Two": 1,
    "Premier Division": 1  # Various smaller leagues
}

In [91]:
clean_df["league_strengh"] = clean_df["club_league_name"].map(league)

In [93]:
clean_df

,name,positions,height_cm,weight_kg,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,...,release_clause,club_contract_valid_until,club_joined,club_league_name,club_rating,club_position,age_group,height_m,bmi,league_strengh
0,Rodri -,"CDM,CM",190,82,Right,4,3,5,91,91,...,€213.7M,2027,2019-07-04,Premier League,85.0,RES,prime,1.90,22.714681,5.0
1,Mohamed Salah Hamed Ghaly -,"RM,RW",175,72,Left,3,4,5,91,91,...,€192.4M,2027,2017-07-01,Premier League,84.0,RM,experienced,1.75,23.510204,5.0
2,Jude Victor William Bellingham -,"CAM,CM",186,75,Right,4,4,5,90,94,...,€370.8M,2029,2023-07-01,La Liga,85.0,RCM,young,1.86,21.678807,5.0
3,Erling Braut Håland -,ST,195,94,Left,3,3,5,90,92,...,€302.2M,2034,2022-07-01,Premier League,85.0,SUB,prime,1.95,24.720579,5.0
4,Vini Jr. -,"LW,ST",176,73,Right,4,5,5,90,94,...,€364.4M,2027,2018-07-12,La Liga,85.0,LW,prime,1.76,23.566632,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Haine Anthony Eames -,CM,178,75,Right,3,2,1,52,78,...,€731K,2027,2024-06-07,A-League Men,62.0,SUB,young,1.78,23.671254,3.0
18201,Kim Jun Ha -,"RW,RM",175,67,Right,3,2,1,52,71,...,€375K,2027,2025-01-02,K League 1,66.0,SUB,young,1.75,21.877551,3.0
18202,Harry Sidwell -,CM,178,75,Right,3,2,1,52,65,...,€428K,2026,2024-07-01,League Two,63.0,RES,young,1.78,23.671254,1.0
18203,Finn McKenlay -,"CDM,CM",188,76,Right,3,2,1,52,67,...,€319K,2026,2024-07-01,A-League Men,66.0,SUB,young,1.88,21.502943,3.0
18204,Oliver Middleton -,"CM,CDM,RM",177,68,Right,4,2,1,52,66,...,€338K,2026,2024-07-01,A-League Men,66.0,RES,young,1.77,21.705129,3.0

In [94]:
clean_df = clean_df.drop(columns=['height_m'])

In [96]:
clean_df.columns

Index(['name', 'positions', 'height_cm', 'weight_kg', 'preferred_foot',
       'weak_foot', 'skill_moves', 'international_reputation',
       'overall_rating', 'potential', 'value', 'wage', 'release_clause',
       'club_contract_valid_until', 'club_joined', 'club_league_name',
       'club_rating', 'club_position', 'age_group', 'bmi', 'league_strengh'],
      dtype='object')

In [109]:
clean_df

,name,positions,height_cm,weight_kg,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,...,club_contract_valid_until,club_joined,club_league_name,club_rating,club_position,age_group,bmi,league_strengh,contract_length,contract_years_left
0,Rodri -,"CDM,CM",190,82,Right,4,3,5,91,91,...,2027,2019-07-04,Premier League,85.0,RES,prime,22.714681,5.0,2,2
1,Mohamed Salah Hamed Ghaly -,"RM,RW",175,72,Left,3,4,5,91,91,...,2027,2017-07-01,Premier League,84.0,RM,experienced,23.510204,5.0,2,2
2,Jude Victor William Bellingham -,"CAM,CM",186,75,Right,4,4,5,90,94,...,2029,2023-07-01,La Liga,85.0,RCM,young,21.678807,5.0,4,4
3,Erling Braut Håland -,ST,195,94,Left,3,3,5,90,92,...,2034,2022-07-01,Premier League,85.0,SUB,prime,24.720579,5.0,9,9
4,Vini Jr. -,"LW,ST",176,73,Right,4,5,5,90,94,...,2027,2018-07-12,La Liga,85.0,LW,prime,23.566632,5.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Haine Anthony Eames -,CM,178,75,Right,3,2,1,52,78,...,2027,2024-06-07,A-League Men,62.0,SUB,young,23.671254,3.0,2,2
18201,Kim Jun Ha -,"RW,RM",175,67,Right,3,2,1,52,71,...,2027,2025-01-02,K League 1,66.0,SUB,young,21.877551,3.0,2,2
18202,Harry Sidwell -,CM,178,75,Right,3,2,1,52,65,...,2026,2024-07-01,League Two,63.0,RES,young,23.671254,1.0,1,1
18203,Finn McKenlay -,"CDM,CM",188,76,Right,3,2,1,52,67,...,2026,2024-07-01,A-League Men,66.0,SUB,young,21.502943,3.0,1,1
18204,Oliver Middleton -,"CM,CDM,RM",177,68,Right,4,2,1,52,66,...,2026,2024-07-01,A-League Men,66.0,RES,young,21.705129,3.0,1,1

In [110]:
clean_df = clean_df.drop(columns=["contract_years_left"])

In [112]:
clean_df = clean_df.drop(columns=["club_contract_valid_until", "release_clause"])

In [113]:
clean_df

,name,positions,height_cm,weight_kg,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,wage,club_joined,club_league_name,club_rating,club_position,age_group,bmi,league_strengh,contract_length
0,Rodri -,"CDM,CM",190,82,Right,4,3,5,91,91,115.500,€440K,2019-07-04,Premier League,85.0,RES,prime,22.714681,5.0,2
1,Mohamed Salah Hamed Ghaly -,"RM,RW",175,72,Left,3,4,5,91,91,104.000,€350K,2017-07-01,Premier League,84.0,RM,experienced,23.510204,5.0,2
2,Jude Victor William Bellingham -,"CAM,CM",186,75,Right,4,4,5,90,94,174.500,€280K,2023-07-01,La Liga,85.0,RCM,young,21.678807,5.0,4
3,Erling Braut Håland -,ST,195,94,Left,3,3,5,90,92,157.000,€270K,2022-07-01,Premier League,85.0,SUB,prime,24.720579,5.0,9
4,Vini Jr. -,"LW,ST",176,73,Right,4,5,5,90,94,171.500,€340K,2018-07-12,La Liga,85.0,LW,prime,23.566632,5.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Haine Anthony Eames -,CM,178,75,Right,3,2,1,52,78,0.325,€1K,2024-06-07,A-League Men,62.0,SUB,young,23.671254,3.0,2
18201,Kim Jun Ha -,"RW,RM",175,67,Right,3,2,1,52,71,0.200,€4K,2025-01-02,K League 1,66.0,SUB,young,21.877551,3.0,2
18202,Harry Sidwell -,CM,178,75,Right,3,2,1,52,65,0.180,€6K,2024-07-01,League Two,63.0,RES,young,23.671254,1.0,1
18203,Finn McKenlay -,"CDM,CM",188,76,Right,3,2,1,52,67,0.170,€3K,2024-07-01,A-League Men,66.0,SUB,young,21.502943,3.0,1
18204,Oliver Middleton -,"CM,CDM,RM",177,68,Right,4,2,1,52,66,0.180,€3K,2024-07-01,A-League Men,66.0,RES,young,21.705129,3.0,1

In [114]:
clean_df.columns

Index(['name', 'positions', 'height_cm', 'weight_kg', 'preferred_foot',
       'weak_foot', 'skill_moves', 'international_reputation',
       'overall_rating', 'potential', 'value', 'wage', 'club_joined',
       'club_league_name', 'club_rating', 'club_position', 'age_group', 'bmi',
       'league_strengh', 'contract_length'],
      dtype='object')

In [115]:
clean_df = clean_df.drop(columns=["wage","height_cm", "weight_kg"])

In [116]:
clean_df

,name,positions,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_joined,club_league_name,club_rating,club_position,age_group,bmi,league_strengh,contract_length
0,Rodri -,"CDM,CM",Right,4,3,5,91,91,115.500,2019-07-04,Premier League,85.0,RES,prime,22.714681,5.0,2
1,Mohamed Salah Hamed Ghaly -,"RM,RW",Left,3,4,5,91,91,104.000,2017-07-01,Premier League,84.0,RM,experienced,23.510204,5.0,2
2,Jude Victor William Bellingham -,"CAM,CM",Right,4,4,5,90,94,174.500,2023-07-01,La Liga,85.0,RCM,young,21.678807,5.0,4
3,Erling Braut Håland -,ST,Left,3,3,5,90,92,157.000,2022-07-01,Premier League,85.0,SUB,prime,24.720579,5.0,9
4,Vini Jr. -,"LW,ST",Right,4,5,5,90,94,171.500,2018-07-12,La Liga,85.0,LW,prime,23.566632,5.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Haine Anthony Eames -,CM,Right,3,2,1,52,78,0.325,2024-06-07,A-League Men,62.0,SUB,young,23.671254,3.0,2
18201,Kim Jun Ha -,"RW,RM",Right,3,2,1,52,71,0.200,2025-01-02,K League 1,66.0,SUB,young,21.877551,3.0,2
18202,Harry Sidwell -,CM,Right,3,2,1,52,65,0.180,2024-07-01,League Two,63.0,RES,young,23.671254,1.0,1
18203,Finn McKenlay -,"CDM,CM",Right,3,2,1,52,67,0.170,2024-07-01,A-League Men,66.0,SUB,young,21.502943,3.0,1
18204,Oliver Middleton -,"CM,CDM,RM",Right,4,2,1,52,66,0.180,2024-07-01,A-League Men,66.0,RES,young,21.705129,3.0,1

In [118]:
clean_df.columns

Index(['name', 'positions', 'preferred_foot', 'weak_foot', 'skill_moves',
       'international_reputation', 'overall_rating', 'potential', 'value',
       'club_joined', 'club_league_name', 'club_rating', 'club_position',
       'age_group', 'bmi', 'league_strengh', 'contract_length'],
      dtype='object')

In [120]:
clean_df = clean_df.drop(columns=["club_joined"])

In [121]:
clean_df

,name,positions,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_league_name,club_rating,club_position,age_group,bmi,league_strengh,contract_length
0,Rodri -,"CDM,CM",Right,4,3,5,91,91,115.500,Premier League,85.0,RES,prime,22.714681,5.0,2
1,Mohamed Salah Hamed Ghaly -,"RM,RW",Left,3,4,5,91,91,104.000,Premier League,84.0,RM,experienced,23.510204,5.0,2
2,Jude Victor William Bellingham -,"CAM,CM",Right,4,4,5,90,94,174.500,La Liga,85.0,RCM,young,21.678807,5.0,4
3,Erling Braut Håland -,ST,Left,3,3,5,90,92,157.000,Premier League,85.0,SUB,prime,24.720579,5.0,9
4,Vini Jr. -,"LW,ST",Right,4,5,5,90,94,171.500,La Liga,85.0,LW,prime,23.566632,5.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Haine Anthony Eames -,CM,Right,3,2,1,52,78,0.325,A-League Men,62.0,SUB,young,23.671254,3.0,2
18201,Kim Jun Ha -,"RW,RM",Right,3,2,1,52,71,0.200,K League 1,66.0,SUB,young,21.877551,3.0,2
18202,Harry Sidwell -,CM,Right,3,2,1,52,65,0.180,League Two,63.0,RES,young,23.671254,1.0,1
18203,Finn McKenlay -,"CDM,CM",Right,3,2,1,52,67,0.170,A-League Men,66.0,SUB,young,21.502943,3.0,1
18204,Oliver Middleton -,"CM,CDM,RM",Right,4,2,1,52,66,0.180,A-League Men,66.0,RES,young,21.705129,3.0,1

In [ ]:
clean_df.columns

Index(['name', 'positions', 'preferred_foot', 'weak_foot', 'skill_moves',
       'international_reputation', 'overall_rating', 'potential', 'value',
       'club_league_name', 'club_rating', 'club_position', 'age_group', 'bmi',
       'league_strengh', 'contract_length'],
      dtype='object')

In [123]:
clean_df = clean_df.drop(columns=["club_league_name"])

In [124]:
clean_df

,name,positions,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_rating,club_position,age_group,bmi,league_strengh,contract_length
0,Rodri -,"CDM,CM",Right,4,3,5,91,91,115.500,85.0,RES,prime,22.714681,5.0,2
1,Mohamed Salah Hamed Ghaly -,"RM,RW",Left,3,4,5,91,91,104.000,84.0,RM,experienced,23.510204,5.0,2
2,Jude Victor William Bellingham -,"CAM,CM",Right,4,4,5,90,94,174.500,85.0,RCM,young,21.678807,5.0,4
3,Erling Braut Håland -,ST,Left,3,3,5,90,92,157.000,85.0,SUB,prime,24.720579,5.0,9
4,Vini Jr. -,"LW,ST",Right,4,5,5,90,94,171.500,85.0,LW,prime,23.566632,5.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Haine Anthony Eames -,CM,Right,3,2,1,52,78,0.325,62.0,SUB,young,23.671254,3.0,2
18201,Kim Jun Ha -,"RW,RM",Right,3,2,1,52,71,0.200,66.0,SUB,young,21.877551,3.0,2
18202,Harry Sidwell -,CM,Right,3,2,1,52,65,0.180,63.0,RES,young,23.671254,1.0,1
18203,Finn McKenlay -,"CDM,CM",Right,3,2,1,52,67,0.170,66.0,SUB,young,21.502943,3.0,1
18204,Oliver Middleton -,"CM,CDM,RM",Right,4,2,1,52,66,0.180,66.0,RES,young,21.705129,3.0,1

In [125]:
clean_df.columns

Index(['name', 'positions', 'preferred_foot', 'weak_foot', 'skill_moves',
       'international_reputation', 'overall_rating', 'potential', 'value',
       'club_rating', 'club_position', 'age_group', 'bmi', 'league_strengh',
       'contract_length'],
      dtype='object')

In [126]:
clean_df = clean_df.drop(columns=["name"])

In [135]:
clean_df

,positions,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_rating,club_position,age_group,bmi,league_strengh,contract_length
0,"CDM,CM",Right,4,3,5,91,91,115.500,85.0,RES,prime,22.714681,5.0,2
1,"RM,RW",Left,3,4,5,91,91,104.000,84.0,RM,experienced,23.510204,5.0,2
2,"CAM,CM",Right,4,4,5,90,94,174.500,85.0,RCM,young,21.678807,5.0,4
3,ST,Left,3,3,5,90,92,157.000,85.0,SUB,prime,24.720579,5.0,9
4,"LW,ST",Right,4,5,5,90,94,171.500,85.0,LW,prime,23.566632,5.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,CM,Right,3,2,1,52,78,0.325,62.0,SUB,young,23.671254,3.0,2
18201,"RW,RM",Right,3,2,1,52,71,0.200,66.0,SUB,young,21.877551,3.0,2
18202,CM,Right,3,2,1,52,65,0.180,63.0,RES,young,23.671254,1.0,1
18203,"CDM,CM",Right,3,2,1,52,67,0.170,66.0,SUB,young,21.502943,3.0,1
18204,"CM,CDM,RM",Right,4,2,1,52,66,0.180,66.0,RES,young,21.705129,3.0,1

In [137]:
clean_df["positions"].dtype

dtype('O')

In [143]:
def position(row):
    position = row["positions"].split(",")[0]

    return position

In [144]:
clean_df["position"] = clean_df.apply(position, axis=1)

In [146]:
clean_df["position"].unique()

array(['CDM', 'RM', 'CAM', 'ST', 'LW', 'CB', 'CM', 'RW', 'LM', 'RB', 'LB'],
      dtype=object)

In [147]:
clean_df

,positions,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_rating,club_position,age_group,bmi,league_strengh,contract_length,position
0,"CDM,CM",Right,4,3,5,91,91,115.500,85.0,RES,prime,22.714681,5.0,2,CDM
1,"RM,RW",Left,3,4,5,91,91,104.000,84.0,RM,experienced,23.510204,5.0,2,RM
2,"CAM,CM",Right,4,4,5,90,94,174.500,85.0,RCM,young,21.678807,5.0,4,CAM
3,ST,Left,3,3,5,90,92,157.000,85.0,SUB,prime,24.720579,5.0,9,ST
4,"LW,ST",Right,4,5,5,90,94,171.500,85.0,LW,prime,23.566632,5.0,2,LW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,CM,Right,3,2,1,52,78,0.325,62.0,SUB,young,23.671254,3.0,2,CM
18201,"RW,RM",Right,3,2,1,52,71,0.200,66.0,SUB,young,21.877551,3.0,2,RW
18202,CM,Right,3,2,1,52,65,0.180,63.0,RES,young,23.671254,1.0,1,CM
18203,"CDM,CM",Right,3,2,1,52,67,0.170,66.0,SUB,young,21.502943,3.0,1,CDM
18204,"CM,CDM,RM",Right,4,2,1,52,66,0.180,66.0,RES,young,21.705129,3.0,1,CM

In [148]:
clean_df = clean_df.drop(columns=["positions"])

In [149]:
clean_df

,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_rating,club_position,age_group,bmi,league_strengh,contract_length,position
0,Right,4,3,5,91,91,115.500,85.0,RES,prime,22.714681,5.0,2,CDM
1,Left,3,4,5,91,91,104.000,84.0,RM,experienced,23.510204,5.0,2,RM
2,Right,4,4,5,90,94,174.500,85.0,RCM,young,21.678807,5.0,4,CAM
3,Left,3,3,5,90,92,157.000,85.0,SUB,prime,24.720579,5.0,9,ST
4,Right,4,5,5,90,94,171.500,85.0,LW,prime,23.566632,5.0,2,LW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Right,3,2,1,52,78,0.325,62.0,SUB,young,23.671254,3.0,2,CM
18201,Right,3,2,1,52,71,0.200,66.0,SUB,young,21.877551,3.0,2,RW
18202,Right,3,2,1,52,65,0.180,63.0,RES,young,23.671254,1.0,1,CM
18203,Right,3,2,1,52,67,0.170,66.0,SUB,young,21.502943,3.0,1,CDM
18204,Right,4,2,1,52,66,0.180,66.0,RES,young,21.705129,3.0,1,CM

In [150]:
clean_df = clean_df.drop(columns=["club_position"])

In [152]:
clean_df

,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_rating,age_group,bmi,league_strengh,contract_length,position
0,Right,4,3,5,91,91,115.500,85.0,prime,22.714681,5.0,2,CDM
1,Left,3,4,5,91,91,104.000,84.0,experienced,23.510204,5.0,2,RM
2,Right,4,4,5,90,94,174.500,85.0,young,21.678807,5.0,4,CAM
3,Left,3,3,5,90,92,157.000,85.0,prime,24.720579,5.0,9,ST
4,Right,4,5,5,90,94,171.500,85.0,prime,23.566632,5.0,2,LW
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Right,3,2,1,52,78,0.325,62.0,young,23.671254,3.0,2,CM
18201,Right,3,2,1,52,71,0.200,66.0,young,21.877551,3.0,2,RW
18202,Right,3,2,1,52,65,0.180,63.0,young,23.671254,1.0,1,CM
18203,Right,3,2,1,52,67,0.170,66.0,young,21.502943,3.0,1,CDM
18204,Right,4,2,1,52,66,0.180,66.0,young,21.705129,3.0,1,CM

In [153]:
# preferred_foot, age_group, position

pref_foot = {
    "Left": 0,
    "Right": 1
}

clean_df["pref_foot"] = clean_df["preferred_foot"].map(pref_foot)

In [154]:
clean_df

,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_rating,age_group,bmi,league_strengh,contract_length,position,pref_foot
0,Right,4,3,5,91,91,115.500,85.0,prime,22.714681,5.0,2,CDM,1
1,Left,3,4,5,91,91,104.000,84.0,experienced,23.510204,5.0,2,RM,0
2,Right,4,4,5,90,94,174.500,85.0,young,21.678807,5.0,4,CAM,1
3,Left,3,3,5,90,92,157.000,85.0,prime,24.720579,5.0,9,ST,0
4,Right,4,5,5,90,94,171.500,85.0,prime,23.566632,5.0,2,LW,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Right,3,2,1,52,78,0.325,62.0,young,23.671254,3.0,2,CM,1
18201,Right,3,2,1,52,71,0.200,66.0,young,21.877551,3.0,2,RW,1
18202,Right,3,2,1,52,65,0.180,63.0,young,23.671254,1.0,1,CM,1
18203,Right,3,2,1,52,67,0.170,66.0,young,21.502943,3.0,1,CDM,1
18204,Right,4,2,1,52,66,0.180,66.0,young,21.705129,3.0,1,CM,1

In [155]:
age_group = {
    "young": 0,
    "prime": 1,
    "experienced": 2,
    "veteran": 3
}

In [156]:
clean_df["age_group_encoded"] = clean_df["age_group"].map(age_group)

In [157]:
clean_df

,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_rating,age_group,bmi,league_strengh,contract_length,position,pref_foot,age_group_encoded
0,Right,4,3,5,91,91,115.500,85.0,prime,22.714681,5.0,2,CDM,1,1
1,Left,3,4,5,91,91,104.000,84.0,experienced,23.510204,5.0,2,RM,0,2
2,Right,4,4,5,90,94,174.500,85.0,young,21.678807,5.0,4,CAM,1,0
3,Left,3,3,5,90,92,157.000,85.0,prime,24.720579,5.0,9,ST,0,1
4,Right,4,5,5,90,94,171.500,85.0,prime,23.566632,5.0,2,LW,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Right,3,2,1,52,78,0.325,62.0,young,23.671254,3.0,2,CM,1,0
18201,Right,3,2,1,52,71,0.200,66.0,young,21.877551,3.0,2,RW,1,0
18202,Right,3,2,1,52,65,0.180,63.0,young,23.671254,1.0,1,CM,1,0
18203,Right,3,2,1,52,67,0.170,66.0,young,21.502943,3.0,1,CDM,1,0
18204,Right,4,2,1,52,66,0.180,66.0,young,21.705129,3.0,1,CM,1,0

In [158]:
clean_df = pd.get_dummies(clean_df, columns=["position"], prefix="pos")

In [161]:
clean_df

,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_rating,age_group,bmi,...,pos_CB,pos_CDM,pos_CM,pos_LB,pos_LM,pos_LW,pos_RB,pos_RM,pos_RW,pos_ST
0,Right,4,3,5,91,91,115.500,85.0,prime,22.714681,...,False,True,False,False,False,False,False,False,False,False
1,Left,3,4,5,91,91,104.000,84.0,experienced,23.510204,...,False,False,False,False,False,False,False,True,False,False
2,Right,4,4,5,90,94,174.500,85.0,young,21.678807,...,False,False,False,False,False,False,False,False,False,False
3,Left,3,3,5,90,92,157.000,85.0,prime,24.720579,...,False,False,False,False,False,False,False,False,False,True
4,Right,4,5,5,90,94,171.500,85.0,prime,23.566632,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Right,3,2,1,52,78,0.325,62.0,young,23.671254,...,False,False,True,False,False,False,False,False,False,False
18201,Right,3,2,1,52,71,0.200,66.0,young,21.877551,...,False,False,False,False,False,False,False,False,True,False
18202,Right,3,2,1,52,65,0.180,63.0,young,23.671254,...,False,False,True,False,False,False,False,False,False,False
18203,Right,3,2,1,52,67,0.170,66.0,young,21.502943,...,False,True,False,False,False,False,False,False,False,False
18204,Right,4,2,1,52,66,0.180,66.0,young,21.705129,...,False,False,True,False,False,False,False,False,False,False

In [168]:
clean_df

,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_rating,age_group,bmi,...,pos_CB,pos_CDM,pos_CM,pos_LB,pos_LM,pos_LW,pos_RB,pos_RM,pos_RW,pos_ST
0,Right,4,3,5,91,91,115.500,85.0,prime,22.714681,...,False,True,False,False,False,False,False,False,False,False
1,Left,3,4,5,91,91,104.000,84.0,experienced,23.510204,...,False,False,False,False,False,False,False,True,False,False
2,Right,4,4,5,90,94,174.500,85.0,young,21.678807,...,False,False,False,False,False,False,False,False,False,False
3,Left,3,3,5,90,92,157.000,85.0,prime,24.720579,...,False,False,False,False,False,False,False,False,False,True
4,Right,4,5,5,90,94,171.500,85.0,prime,23.566632,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Right,3,2,1,52,78,0.325,62.0,young,23.671254,...,False,False,True,False,False,False,False,False,False,False
18201,Right,3,2,1,52,71,0.200,66.0,young,21.877551,...,False,False,False,False,False,False,False,False,True,False
18202,Right,3,2,1,52,65,0.180,63.0,young,23.671254,...,False,False,True,False,False,False,False,False,False,False
18203,Right,3,2,1,52,67,0.170,66.0,young,21.502943,...,False,True,False,False,False,False,False,False,False,False
18204,Right,4,2,1,52,66,0.180,66.0,young,21.705129,...,False,False,True,False,False,False,False,False,False,False

In [170]:
# Select all one-hot position columns
one_hot_cols = [col for col in clean_df.columns if col.startswith("pos_")]

# Convert True/False to 1/0
clean_df[one_hot_cols] = clean_df[one_hot_cols].astype(int)

# Check
print(clean_df[one_hot_cols].head())

   pos_CAM  pos_CB  pos_CDM  pos_CM  pos_LB  pos_LM  pos_LW  pos_RB  pos_RM  \
0        0       0        1       0       0       0       0       0       0
1        0       0        0       0       0       0       0       0       1
2        1       0        0       0       0       0       0       0       0
3        0       0        0       0       0       0       0       0       0
4        0       0        0       0       0       0       1       0       0

   pos_RW  pos_ST
0       0       0
1       0       0
2       0       0
3       0       1
4       0       0

In [171]:
clean_df

,preferred_foot,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_rating,age_group,bmi,...,pos_CB,pos_CDM,pos_CM,pos_LB,pos_LM,pos_LW,pos_RB,pos_RM,pos_RW,pos_ST
0,Right,4,3,5,91,91,115.500,85.0,prime,22.714681,...,0,1,0,0,0,0,0,0,0,0
1,Left,3,4,5,91,91,104.000,84.0,experienced,23.510204,...,0,0,0,0,0,0,0,1,0,0
2,Right,4,4,5,90,94,174.500,85.0,young,21.678807,...,0,0,0,0,0,0,0,0,0,0
3,Left,3,3,5,90,92,157.000,85.0,prime,24.720579,...,0,0,0,0,0,0,0,0,0,1
4,Right,4,5,5,90,94,171.500,85.0,prime,23.566632,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,Right,3,2,1,52,78,0.325,62.0,young,23.671254,...,0,0,1,0,0,0,0,0,0,0
18201,Right,3,2,1,52,71,0.200,66.0,young,21.877551,...,0,0,0,0,0,0,0,0,1,0
18202,Right,3,2,1,52,65,0.180,63.0,young,23.671254,...,0,0,1,0,0,0,0,0,0,0
18203,Right,3,2,1,52,67,0.170,66.0,young,21.502943,...,0,1,0,0,0,0,0,0,0,0
18204,Right,4,2,1,52,66,0.180,66.0,young,21.705129,...,0,0,1,0,0,0,0,0,0,0

In [172]:
clean_df.columns

Index(['preferred_foot', 'weak_foot', 'skill_moves',
       'international_reputation', 'overall_rating', 'potential', 'value',
       'club_rating', 'age_group', 'bmi', 'league_strengh', 'contract_length',
       'pref_foot', 'age_group_encoded', 'pos_CAM', 'pos_CB', 'pos_CDM',
       'pos_CM', 'pos_LB', 'pos_LM', 'pos_LW', 'pos_RB', 'pos_RM', 'pos_RW',
       'pos_ST'],
      dtype='object')

In [173]:
clean_df = clean_df.drop(columns=["preferred_foot", "age_group"])

In [174]:
clean_df

,weak_foot,skill_moves,international_reputation,overall_rating,potential,value,club_rating,bmi,league_strengh,contract_length,...,pos_CB,pos_CDM,pos_CM,pos_LB,pos_LM,pos_LW,pos_RB,pos_RM,pos_RW,pos_ST
0,4,3,5,91,91,115.500,85.0,22.714681,5.0,2,...,0,1,0,0,0,0,0,0,0,0
1,3,4,5,91,91,104.000,84.0,23.510204,5.0,2,...,0,0,0,0,0,0,0,1,0,0
2,4,4,5,90,94,174.500,85.0,21.678807,5.0,4,...,0,0,0,0,0,0,0,0,0,0
3,3,3,5,90,92,157.000,85.0,24.720579,5.0,9,...,0,0,0,0,0,0,0,0,0,1
4,4,5,5,90,94,171.500,85.0,23.566632,5.0,2,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,3,2,1,52,78,0.325,62.0,23.671254,3.0,2,...,0,0,1,0,0,0,0,0,0,0
18201,3,2,1,52,71,0.200,66.0,21.877551,3.0,2,...,0,0,0,0,0,0,0,0,1,0
18202,3,2,1,52,65,0.180,63.0,23.671254,1.0,1,...,0,0,1,0,0,0,0,0,0,0
18203,3,2,1,52,67,0.170,66.0,21.502943,3.0,1,...,0,1,0,0,0,0,0,0,0,0
18204,4,2,1,52,66,0.180,66.0,21.705129,3.0,1,...,0,0,1,0,0,0,0,0,0,0

In [3]:
X = clean_df.drop(columns=["value"])

NameError: name 'clean_df' is not defined

In [185]:
y = clean_df["value"]

In [177]:
X

,weak_foot,skill_moves,international_reputation,overall_rating,potential,club_rating,bmi,league_strengh,contract_length,pref_foot,...,pos_CB,pos_CDM,pos_CM,pos_LB,pos_LM,pos_LW,pos_RB,pos_RM,pos_RW,pos_ST
0,4,3,5,91,91,85.0,22.714681,5.0,2,1,...,0,1,0,0,0,0,0,0,0,0
1,3,4,5,91,91,84.0,23.510204,5.0,2,0,...,0,0,0,0,0,0,0,1,0,0
2,4,4,5,90,94,85.0,21.678807,5.0,4,1,...,0,0,0,0,0,0,0,0,0,0
3,3,3,5,90,92,85.0,24.720579,5.0,9,0,...,0,0,0,0,0,0,0,0,0,1
4,4,5,5,90,94,85.0,23.566632,5.0,2,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,3,2,1,52,78,62.0,23.671254,3.0,2,1,...,0,0,1,0,0,0,0,0,0,0
18201,3,2,1,52,71,66.0,21.877551,3.0,2,1,...,0,0,0,0,0,0,0,0,1,0
18202,3,2,1,52,65,63.0,23.671254,1.0,1,1,...,0,0,1,0,0,0,0,0,0,0
18203,3,2,1,52,67,66.0,21.502943,3.0,1,1,...,0,1,0,0,0,0,0,0,0,0
18204,4,2,1,52,66,66.0,21.705129,3.0,1,1,...,0,0,1,0,0,0,0,0,0,0

In [186]:
y

0        115.500
1        104.000
2        174.500
3        157.000
4        171.500
          ...
18200      0.325
18201      0.200
18202      0.180
18203      0.170
18204      0.180
Name: value, Length: 14734, dtype: float64

In [191]:
X["weak_foot"] = pd.to_numeric(X["weak_foot"], errors="coerce")
X["international_reputation"] = pd.to_numeric(X["international_reputation"], errors="coerce")

In [194]:
X

,weak_foot,skill_moves,international_reputation,overall_rating,potential,club_rating,bmi,league_strengh,contract_length,pref_foot,...,pos_CB,pos_CDM,pos_CM,pos_LB,pos_LM,pos_LW,pos_RB,pos_RM,pos_RW,pos_ST
0,4.0,3,5.0,91,91,85.0,22.714681,5.0,2,1,...,0,1,0,0,0,0,0,0,0,0
1,3.0,4,5.0,91,91,84.0,23.510204,5.0,2,0,...,0,0,0,0,0,0,0,1,0,0
2,4.0,4,5.0,90,94,85.0,21.678807,5.0,4,1,...,0,0,0,0,0,0,0,0,0,0
3,3.0,3,5.0,90,92,85.0,24.720579,5.0,9,0,...,0,0,0,0,0,0,0,0,0,1
4,4.0,5,5.0,90,94,85.0,23.566632,5.0,2,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18200,3.0,2,1.0,52,78,62.0,23.671254,3.0,2,1,...,0,0,1,0,0,0,0,0,0,0
18201,3.0,2,1.0,52,71,66.0,21.877551,3.0,2,1,...,0,0,0,0,0,0,0,0,1,0
18202,3.0,2,1.0,52,65,63.0,23.671254,1.0,1,1,...,0,0,1,0,0,0,0,0,0,0
18203,3.0,2,1.0,52,67,66.0,21.502943,3.0,1,1,...,0,1,0,0,0,0,0,0,0,0
18204,4.0,2,1.0,52,66,66.0,21.705129,3.0,1,1,...,0,0,1,0,0,0,0,0,0,0

In [195]:
# Random Forest Regressor

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [196]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [197]:
rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [198]:
y_pred = rf_model.predict(X_test)

In [199]:
from sklearn.metrics import mean_squared_error

print("Mean Squared Error: ", mean_squared_error(y_test, y_pred))

Mean Squared Error:  1.3614834279464287

In [201]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)
print("R² Score:", r2)

R² Score: 0.9846014712958738

In [203]:
import joblib

joblib.dump(rf_model, "rf_model.joblib")

['rf_model.joblib']

In [204]:
X.columns

Index(['weak_foot', 'skill_moves', 'international_reputation',
       'overall_rating', 'potential', 'club_rating', 'bmi', 'league_strengh',
       'contract_length', 'pref_foot', 'age_group_encoded', 'pos_CAM',
       'pos_CB', 'pos_CDM', 'pos_CM', 'pos_LB', 'pos_LM', 'pos_LW', 'pos_RB',
       'pos_RM', 'pos_RW', 'pos_ST'],
      dtype='object')

In [1]:
# 'weak_foot', 'skill_moves', 'international_reputation',
#        'overall_rating', 'potential', 'club_rating', 'bmi', 'league_strengh',
#        'contract_length', 'pref_foot', 'age_group_encoded'

In [2]:
clean_df

NameError: name 'clean_df' is not defined